<a href="https://colab.research.google.com/github/SIVASHANKARI04/Diabetes-data-analysis/blob/main/Diabetes_prediction_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/diabetes_prediction_dataset.csv")

1.How many rows and columns are in the dataset and what are the features included in the dataset?

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

2.Write code to find the average value,maximum value and minimum value of the age column?

In [ ]:
df.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

3.How many of the men and women have diabetese?

In [ ]:
df[df["gender"].isin(["Female","Male"]) & (df["diabetes"]==1)]["gender"].value_counts()

gender
Female    4461
Male      4039
Name: count, dtype: int64

4. How many of the men and women have blood glucsoe level more than 200, have smoking habit and smoking history,have hypertension,have heart disease and he/she should not have diabetese?

In [ ]:
df[(df["blood_glucose_level"]>=200) & (df["heart_disease"]==1) & (df["hypertension"]==1) & (df["smoking_history"].isin(["not current","former","current"]))& (df["diabetes"]==0)]["gender"].value_counts()

gender
Male      8
Female    5
Name: count, dtype: int64

5.How many mele and female have perfect bmi, glucose < 180 ,no smoking habit,no blodpressure,no heartdiseae and age > 40?

In [ ]:
df[df["bmi"].between(18.5,24.9) & (df["hypertension"]==0) & (df["heart_disease"]==0) & (df["smoking_history"]=="never") & (df["blood_glucose_level"]<180) & (df["age"]>40)]["gender"].value_counts()

gender
Female    2344
Male       571
Name: count, dtype: int64

6.Identify the number of individuals (grouped by gender) who:
Have glucose levels between 140 and 199,
Are overweight (BMI between 25 and 30),
Have no history of smoking or heart disease,
But do have hypertension.

In [ ]:
df[df["blood_glucose_level"].between(140,199) & (df["bmi"].between(25,30)) & (df["smoking_history"]==0) & (df["heart_disease"]==0) & (df["hypertension"]==1)]["gender"].value_counts()

Series([], Name: count, dtype: int64)

7.How many males and females aged under 35:
Have glucose levels above 180,
Are obese (BMI > 30),
Have no history of hypertension,
But do have a history of smoking?

In [ ]:
df[df["age"]<35 & (df["blood_glucose_level"]>180) & (df["bmi"]>30) & (df["hypertension"]==0) & (df["smoking_history"]!=0)]["gender"].value_counts()

gender
Male    1
Name: count, dtype: int64

8.